{% extends "layout.html" %}

{% block body %}
<section class="features3 cid-rpUYdNoG90" id="features3-5">
    <div class="container">
        <p>
            <h5>Máš chuť pomáhat? Chceš si vyzkoušet zajímavou práci? Chceš vytvářet skutečné hodnoty s partou skvělých
                dobrovolníků?
                Láká tě USA, Kanada, Nový Zéland, Austrálie či Asie? Nebo chceš procestovat Evropu?<br>
                <br></h5>
                Dobrovolnictví je způsob, jak vyjádřit, že ti okolní svět není lhostejný, příležitost pomoct konkrétním
        organizacím, veřejně prospěšným projektům nebo komunitám v dosažení jejich cílů a zároveň přirozená cesta ke
        všestrannému osobnímu rozvoji, získání cenných životních zkušeností a možnosti seznámení se s novými lidmi.
              </p>
              Najdeš zde několik tipů, na které webové stránky se podívat a vyhledat příležitosti nebo si založit profil
            dobrovolníka a počkat na nabídky.
        
        <div class="table-responsive-lg">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Název organizace</th>
                            <th scope="col">WEB</th>
                            <th scope="col">Popis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><img src="static/logo_dobrovolnik.jpg"></th>
                            <td>Dobrovolník</td>
                            <td><a href="https://www.dobrovolnik.cz" target=_blank>www.dobrovolnik.cz</a></td>
                            <td> Pomáha dobrovolníkům, organizacím občanské společnosti i jednotlivcům, kteří potřebují
                                pomoc dobrovolníků.</td>

                        </tr>
                        <tr>
                            <th scope="row"><img src="static/logo_eu.png"></th>
                            <td>Youth In Action</td>
                            <td><a href="https://europa.eu/youth/volunteering_cs" target=_blank>www.europa.eu</a>
                            </td>
                            <td>Program Evropské unie, který nabízí mladým lidem (mezi 13 a 30 lety) příležitost
                                pracovat jako dobrovolník po dobu 2-12 měsíců.</td>
                        </tr>
                        <tr>
                            <th scope="row"><img src="static/logo_um.png"></th>
                            <td>Um sem um tam</td>
                            <td><a href="https://www.umsemumtam.cz" target=_blank>www.umsemumtam.cz</a></td>
                            <td>Místo, kde se potkáva nabídka a poptávka po profesionální dobrovolnické práci.</td>

                        </tr>
                        <tr>
                            <th scope="row"><img src="static/logo_duha.png"></th>
                            <td>DUHA</td>
                            <td><a href="https://www.hnutiduha.cz/pridejte-se/dobrovolnici"
                                    target=_blank>www.hnutiduha.cz</a></td>
                            <td>Hnutí DUHA je přední česká ekologická organizace. Nejvíce dobrovolnických příležitostí
                                najdete v Brně a Praze, ale spousta práce se dá dělat přes internet, z pohodlí domova.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row"><img src="static/logo_help.png"></th>
                            <td>Help Stay</td>
                            <td><a href="https://helpstay.com/" target=_blank>www.helpstay.com</a></td>
                            <td>HelpStay je dobrovolnická platforma, která spojuje zájemce s hostiteli velkých projektů
                                po celém světě.</td>

                        </tr>
                        <tr>
                            <th scope="row"><img src="static/INEX_logo.png"></th>
                            <td>Inexsda</td>
                            <td><a href="https://www.inexsda.cz/" target=_blank>www.inexsda.cz</a></td>
                            <td>Nevládní nezisková organizace, která se od roku 1991 zabývá mezinárodním dobrovolnictvím
                                a mezikulturním vzděláváním.</td>

                        </tr>
                        <tr>
                            <th scope="row"><img src="static/logo_tamjdem.jpg"></th>
                            <td>TamJdem</td>
                            <td><a href="https://www.tamjdem.cz/" target=_blank>www.tamjdem.cz</a></td>
                            <td>Pořádají denní, víkendové a až dvoutýdenní dobrovolnické projekty na pomoc různorodým
                                neziskovým organizacím po celé České republice a zájemce vysílají i do světa.</td>

                        </tr>


                    </tbody>
                </table>
            </table>
        </div>
    </div>

    <!--<div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background1.jpg') }}" alt="tabory">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="tabory.html" class="btn btn-primary display-4">
                            TÁBORY
                        </a>
                    </div>
                    <div class="card-box">
                       
                        <p class="mbr-text mbr-fonts-style display-7">
                            Hledáš tábor pro děti, mladé lidi, pro rodiče s dětmi, pro hendikepované, pro nezadané nebo
                            pro seniory? </p>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background2.jpg') }}" alt="dobrovolnictvi">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="dobrovolnictvi.html" class="btn btn-primary display-4">
                            DOBROVOLNICTVÍ
                        </a>
                    </div>
                    <div class="card-box">
                      
                        <p class="mbr-text mbr-fonts-style display-7">
                            Máš chuť pomáhat? Chceš vytvářet skutečné hodnoty? Chceš zkusit zajímavou práci? Procestovat
                            svět?
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background3.jpg') }}" alt="prace">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="prace.html" class="btn btn-primary display-4">
                            PRÁCE
                        </a>
                    </div>
                    <div class="card-box">
                      
                        <p class="mbr-text mbr-fonts-style display-7">
                            Hledáš nebo nabíziš práci na táboře? Chceš získat zkušenosti nebo se naopak o ně podělit?
                        </p>
                    </div>
                </div>
            </div>-->


        </div>
    </div>
</section>

{% endblock %}