{% extends "layout.html" %}

{% block body %}
<section class="features3 cid-rpUYdNoG90" id="features3-5">
    <div class="container">
        <H2>O nás</H2>
        Web hledamtabor.cz má sloužit všem, kteří chtějí rychle najít vhodný tábor pro svoje děti,
        pro sebe a dítě, pro seniory, pro nezadané, hendikepované nebo pro ty, co by rádi šli na zkušenou jako
        dobrovolníci.
        Zároveň si na webu můžete najít práci na táboře nebo poptat zájemce o tuto práci.<br>
        <br>Tento web vzniká jako projekt kurzu Digitální akademie, který organizují holky z <a
            href="https://www.czechitas.cz" target_blank>Czechitas.</a>
        Mentorem projektu je Jakub Balada z firmy <a href="https://Apify.com" target _blank>Apify</a>.
        Velké díky patří také koučům Danovi Vrátilovi a Ivě Fischerové z firmy <a
            href="https://www.avast.com/cs-cz/index#pc" target _blank>AVAST</a> a mnohým dalším, kteří nám radili po
        technické stránce a bez nich by aplikace nežila.<br>
        <br>Cílem webu je na jednom místě jednoduchou formou propojit zájemce a pořadatele o tyto aktivity a poskytnout
        uživatelům přehlednou a intuitivní aplikaci pro všechny věkové kategorie.
        A zároveň pro mladé, nabídnout i alternativu táborů a rozšířit tak povědomí o dobrovolnictví a programech pro
        dobrovolníky, kde můžete svůj volný čas věnovat pro dobro věci v tuzemsku, či v zahraničí a obohatit jak sebe,
        tak druhé. V prvotní fázi projektu jsou nabízené tábory čerpány z internetu.
        Souběžně si organizátoři táborů mohou své tábory vkládat sami, stejně
        tak i nabídky, či poptávky práce v souvislosti s táborem. Koncový uživatel
        může pohodlně vyhledávat tábory dle svých kritérií nebo vkládat své poptávky na práci na táboře nebo v mapě
        táborů vyhledat ten "svůj" a zároveň vidět kvalitu ovzduší daného místa.
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background1.jpg') }}" alt="tabory">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/tabory" class="btn btn-primary display-4">
                            TÁBORY
                        </a>
                    </div>
                    <div class="card-box">
                        <!--<h4 class="card-title mbr-fonts-style display-7">
                                    TÁBORY</h4>-->
                        <p class="mbr-text mbr-fonts-style display-7">
                            Hledáš tábor pro děti, mladé lidi, pro rodiče s dětmi, pro hendikepované, pro nezadané
                            nebo pro seniory? </p>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background2.jpg') }}" alt="dobrovolnictvi">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/dobrovolnictvi" class="btn btn-primary display-4">
                            DOBROVOLNICTVÍ
                        </a>
                    </div>
                    <div class="card-box">
                        <!--<h4 class="card-title mbr-fonts-style display-7">
                                    DOBROVONICTVÍ</h4>-->
                        <p class="mbr-text mbr-fonts-style display-7">
                            Máš chuť pomáhat? Chceš vytvářet skutečné hodnoty? Chceš zkusit zajímavou práci?
                            Procestovat svět?
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='background3.jpg') }}" alt="prace">
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/prace" class="btn btn-primary display-4">
                            PRÁCE
                        </a>
                    </div>
                    <div class="card-box">
                        <!--<h4 class="card-title mbr-fonts-style display-7">
                                    PRÁCE</h4>-->
                        <p class="mbr-text mbr-fonts-style display-7">
                            Hledáš nebo nabíziš práci na táboře? Chceš získat zkušenosti nebo se naopak o ně
                            podělit?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
