{% extends "layout.html" %}

{% block body %}

<section class="features3 cid-rpUYdNoG90" id="features3-5">
    <div class="container">
        <H4>Práce na táborech - NABÍDKA, POPTÁVKA</H4>

        <form method="POST" action="">

            <p>Vložte popis práce, kterou nabízite nebo poptávate včetně kontaktu na sebe.</p> <br>
            Nabídka:<br> <input type="text" name="nabidka" class="custom-select-md"/> <input type="submit">
            <br>
            Poptávka:<br><input type="text" name="poptavka" /> <input type="submit">
            <br>
            
        </form>

        <div class="table-responsive-lg">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Pořadí</th>
                            <th scope="col">Typ</th>
                            <th scope="col">Popis</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for x in job_z_db %}
                        <tr>
                            <td>{{ x.job_id }}</td>
                            <td>{{ x.job_date_type }}</td>
                            <td>{{ x.job_programm }}</td>
                            <td>{{ x.job_contact}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>

    </div>

    {% endblock %}