{% extends "layout.html" %}

{% block body %}

<section class="features3 cid-rpUYdNoG90" id="features3-5">
    <div class="container">
        <H4>Práce na táborech - NABÍDKA, POPTÁVKA</H4>

        <form class="well form-horizontal" method="post" id="contact_form">
            <fieldset>

                <p>Vložte popis práce, kterou nabízite nebo poptávate včetně kontaktu na sebe.</p> <br>
                <div class="row">
                    <div class="col-sm-4">
                        <h5>
                            <bold>Typ</bold>
                        </h5>
                        <div>
                            <select name="typ" class="custom-select-sm" required>
                                <option selected value="nabidka">Nabídka</option>
                                <option value="poptavka">Poptávka</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <h5>
                            <bold>Popis</bold>
                            <h5>
                                <input type="text" name="text" required/>
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                        
                                        
                                      </div>
                    </div>
                    <div class="col-sm-4">

                        <h5>
                            <bold>Termín <small>(Zadání datumu je nepovinné.)</small></bold>
                        </h5>
                    
                        <label for="date_start">Od:&nbsp;</label><input type="date" name="date_start" id="from-date"><br>
                        <label for="date_finish">Do:&nbsp;</label><input type="date" name="date_finish" id="to-date"><br>
                    </div>
                </div>
            </fieldset>
           
            <center><input type="submit" value="Odeslat" /></center>

        </form>
        <br>
        <br>
        <div>
            <h5>Výpis zadaných nabídek a poptávak</h5>
        </div>
        <div class="table-responsive-lg">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Pořadí</th>
                            <th scope="col">Typ</th>
                            <th scope="col">Popis</th>
                            <th scope="col">Datum</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for x in job_z_db %}
                        <tr>
                            <td>{{ x.job_id }}</td>
                            <td>{% if x.nabidka %}Nabídka{% endif %}
                                {% if x.poptavka %}Poptávka{% endif %}</td>
                            <td>{{ x.text }}</td>
                            <td>{{ x.date_start }} - {{ x.date_finish }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</section>

{% endblock %}