    {% extends "layout.html" %}
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
  <meta charset="utf-8"> -->

    {% block body %}
  
    

<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Registrace tábora</b></h2></center></legend><br>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Název tábora</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="camp_name" placeholder="Název tábora" class="form-control"  type="int">
    </div>
  </div>
</div>
  
  
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">DIČ</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="organizer_dic" placeholder="DIČ" class="form-control"  type="int">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Název organizace</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_name" placeholder="Název organizace" class="form-control"  type="text">
    </div>
  </div>
</div>

  <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Adresa</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_address" placeholder="Adresa" class="form-control"  type="text">
    </div>
  </div>
</div>
  
  <!-- Number input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Číslo</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_street_num" placeholder="Číslo popisné" class="form-control"  type="int">
    </div>
  </div>
</div>
  
  <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Město</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_city" placeholder="Město" class="form-control"  type="text">
    </div>
  </div>
</div>
  
  <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Telefonní číslo</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="organizer_phone" placeholder="00420 xxx xxx xxx" class="form-control"  type="int">
      
    </div>
  </div>
</div>
  
   <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >WEB</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_web" placeholder="Webová adresa" class="form-control"  type="text">
      
    </div>
  </div>
</div>
  
  <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Kontaktní osoba</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="organizer_contact_person" placeholder="Kontaktní osoba" class="form-control"  type="text">
    </div>
  </div>
</div>
  
  <!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Popis činnosti</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="organizer_description" placeholder="Popis činnosti" class="form-control"  type="text">
    </div>
  </div>
</div>
 
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Uživatelské jméno</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="organizer_username" placeholder="Username" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Heslo</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_password" placeholder="Heslo" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Potvrzení hesla</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="organizer_password_confirmed" placeholder="Potvrzení hesla" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="organizer_email" placeholder="E-Mail adresa" class="form-control"  type="text">
    </div>
  </div>
</div>
  
 <!-- Text input-->
      
  <div class="form-group">
    <label class="col-md-4 control-label">GDPR</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <div class="[ form-group ]">
            &nbsp&nbsp&nbsp<input type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off" />
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-primary" class="[ btn btn-default active ]">
                    SOUHLAS se zásady ochrany osobních údajů
                </label>
           </div>
               <span>Soubor o ochraně osobních údajů
               </span>
               
        </div>




<!-- Select Basic -->

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPOTVRĎ <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>
    
    
    <!-- /.container -->
  





    <!-- /.container -->

    <!--This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>

        <div class="container">
                <p>jsem organizator</p>
               <p>jsem uzivatel</p>
          </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">

                Background image for card set in CSS!

            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Registrace</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputUserame">Username</label>
                </div>
  
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                  <label for="inputEmail">Email address</label>
                </div>
                
                <hr>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Heslo</label>
                </div>
                
                <div class="form-label-group">
                  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                  <label for="inputConfirmPassword">Podtvrď heslo</label>
                </div>
  
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrace</button>
                <a class="d-block text-center mt-2 small" href="https://hledamtabor.herokuapp.com/prihlaseni">Přihlášení</a>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> 
-->
    {% endblock %}