{% extends "layout.html" %}

{% block body %}

<section class="features3 cid-rpUYdNoG90" id="features3-5">

    <div class="container">
            <H2>O nás</H2>
            <p>     Web hledamtabor.cz má sloužit všem, kteří už nechtějí strácet čas s hledáním tábora pro svoje děti, 
                    pro rodiče a dítě, rodinné tábory, tábory pro nezadané, hendikepované, pro seniory 
                    nebo rádi by šli na zkušenou jako dobrovolníci. 
                    Zároveň si na webu můžete najít práci na táboře nebo poptat zájemnce o tuto práci. 
                    Tento web vzniká jako projekt kurzu Digitální akademie - Datová analýza, který organizují holky z <a href="https://www.czechitas.cz" target_blank>Czechitas.</a>
                    Mentorem projektu je Jakub Balada z firmy <a href= "https://Apify.com" target _blank>Apify.</a> 
                    Cílem webu je na jednom místě jednoduchou formou propojit zájemce a pořadatele o tyto aktivity. 
                    A zároveň rozšířit povědomí o dobrovolnictví a programech pro dobrovolníky, kde můžete svůj volný čas zdarma věnovat také pro dobro věci doma, či v zahraničí a obohatit jak sebe, tak i druhé. V prvotní fázy projektu jsou nabízené tábory screpované z jiných zdrojů.
                    Souběžne si, ale organizátoři můžou své tábory i nabídky, či poptávky práce vkládat i sami. Koncový uživatel může pohldně vyhledávat nebo vkládat své poptávky na práci na tábořě.
            </p>
    </div>

    </section>
        
{% endblock %}