{% extends "layout.html" %}

{% block body %}

    
    <!--<section class="engine"><a href="https://mobirise.info/d">free site maker</a></section> -->
    <section class="features3 cid-rpUYdNoG90" id="features3-5"></section>
            

    <div class="container">
        <h1>Vyhledávaní</h1>
        <form method="POST" action="/tabory">
            <br>
            <h4>Vyber si tábor dle svých kritérií</h4>
            <br>      
            <h4><small>Pro koho</small></h4><br>
            <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="camp_who_girl" value="1">jen pro holky
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="camp_boy" value="1">jen pro kluky
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="camp_girl_boy" value="1">pro holky i kluky
                </label>
              </div><br>
              <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="camp_parent_kid" value="1">rodiče s dětmi
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="camp_mam_daughter" value="1">máma a dcera
                    </label>
                  </div>
                 <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" name="camp_dad_son" value="1">táta a syn
                        </label>
                      </div><br>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" name="camp_single" value="1">nezadaní
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" name="camp_senior" value="1">senioři
                        </label>
                      </div>
                      <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="camp_handicapped" value="1">Handicapovaní
                            </label>
                      </div>
                        
                    <h4><small>Typ</small></h4><br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_type_urban" value="1">Příměstský
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_type_nature" value="1">Pobytový
                        </label>
                    </div>
                    <br>
                    <h4><small>Zájmy</small></h4><br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_focus_clasic" value="1">Klasický
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_focus_language" value="1">Jazykový
                        </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="camp_focus_sport" value="1">Sportovní
                            </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="camp_focus_art" value="1">Umělecký
                            </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="camp_focus_christ" value="1">Církevní
                            </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="camp_focus_science" value="1">Věda a IT
                            </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_focus_others" value="1">Jiné
                        </label>
                </div>
                    <br>
                    <h4><small>Věk</small></h4><br>
                    <select name="vek" class="custom-select-sm">
                            <option selected>Všechny</option>
                            <option value="age1">0 až 7</option>
                            <option value="age2">7 až 15</option>
                            <option value="age3">16 až 18</option>
                            <option value="age4">19 až 54</option>
                            <option value="age5">55+</option>
                
                    </select>
                    <br>
                    <h4><small>Délka pobytu</small></h4><br>
                    <select name="delka_pobytu" class="custom-select-sm">
                            <option selected>Nerozhoduje</option>
                            <option value="stay_day">1 den</option>
                            <option value="stay_weekend">víkend</option>
                            <option value="stay_week">&lt; 1 týden</option>
                            <option value="stay_more">> 1 týden</option>
                            <option value="stay_2weeks">&gt; 2 týdny</option>

                    </select>
                    <br>
                    <h4><small>Místo</small></h4><br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_CR" value="1">ČR
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="camp_international" value="1">Mezinárodní
                        </label>
                    </div>

                    <br>
                    <h4><small>Kraj</small></h4><br>
                    <select name="kraje" class="" multiple size="6">
                            <option selected value="všechny">Všechny</option>
                            <option value="region_Praha">Praha</option>
                            <option value="region_jihocesky">Jihočeský</option>
                            <option value="region_jihomoravsky">Jihomorvský</option>
                            <option value="region_karlovarsky">Karlovarský</option>
                            <option value="region_vysocina">Vysočina</option>
                            <option value="region_kralovehradecky">Kralovéhradecký</option>
                            <option value="region_moravskoslezky">Moravskoslezký</option>
                            <option value="region_olomoucky">Olomoucký</option>
                            <option value="region_pardubicky">Pardubický</option>
                            <option value="region_plzensky">Plzeňský</option>
                            <option value="region_stredocesky">Středočeský</option>
                            <option value="region_ustecky">Ústecký</option>
                            <option value="region_zlinsky">Zlínský</option>
                    </select>

                <br>
                <br>
                
                <h4><small>Termín</small></h4><br>
                <label for="from-date">Od:</label>
                  <input type="date" id="from-date"><br>
                <label for="from-date">Do:</label>
                  <input type="date" id="from-date">

                
                  <h4><small>Cena</small></h4><br>
                  <select name="cena" class="custom-select-sm">
                          <option selected>Nerozhoduje</option>
                          <option value="price_to">0 až 2000 Kč</option>
                          <option value="price_more">2001 Kč a více</option>
                  </select>
        
        <input type="submit" value="HLEDAT">
         </form>
    
    </div>
</div>
</section>

       
    {% endblock %}

               
                    <!--<div class="btn-group" role="group">
                             <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Praha
                             </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#">Praha 1</a>
                                        <a class="dropdown-item" href="#">Praha 2</a>
                                        <a class="dropdown-item" href="#">Praha 3</a>
                                        <a class="dropdown-item" href="#">Praha 4</a>
                                        <a class="dropdown-item" href="#">Praha 5</a>
                                        <a class="dropdown-item" href="#">Praha 6</a>
                                        <a class="dropdown-item" href="#">Praha 7</a>
                                        <a class="dropdown-item" href="#">Praha 8</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"> 
                                    <button type="button" class="btn btn-secondary">Jihočeský</button>
                                    <button type="button" class="btn btn-secondary">Jihomorvský</button>
                                    <button type="button" class="btn btn-secondary">Karlovarský</button>
                                    <button type="button" class="btn btn-secondary">Vysočina</button>
                                    <button type="button" class="btn btn-secondary">Kralovéhradecký</button>
                                    <button type="button" class="btn btn-secondary">Moravskoslezký</button>
                                    <button type="button" class="btn btn-secondary">Olomoucký</button>
                                    <button type="button" class="btn btn-secondary">Pardubický</button>
                                    <button type="button" class="btn btn-secondary">Plzeňský</button>
                                    <button type="button" class="btn btn-secondary">Středočeský</button>
                                    <button type="button" class="btn btn-secondary">Ústecký</button>
                                    <button type="button" class="btn btn-secondary">Zlínský</button>
                     </div>    
                     -->     
       