{% extends "layout.html" %}

{% block body %}
<section class="features3 cid-rpUYdNoG90" id="features3-5">
<div class="jumbotron">
        <h1>
            Výsledky hledání dle zadaných kritérií
        </h1>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Název tábora</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Kategorie</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kraj</th>
                        <th scope="col">Organizator</th>
                    </tr>
                </thead>
                <tbody>

                    {% for x in tabory_z_db %}
                    <tr>
                        <td><a href="{{ x.camp_web }}" target='_blank'>{{ x.camp_name }}</td>
                        <td>{{ x.camp_date_start }} - {{ x.camp_date_finish }}</td>
                        <td>{{ x.camp_programm }}</td>
                        <td>
                            <ul>
                            {% if x.camp_focus_classic %}<li>Klasický</li>{% endif %}
                            {% if x.camp_focus_language %}<li>Jazykový</li>{% endif %}
                            {% if x.camp_focus_sport %}<li>Sportovní</li>{% endif %}
                            {% if x.camp_focus_art %}<li>Umělecký</li>{% endif %}
                            {% if x.camp_focus_christ %}<li>Církevní</li>{% endif %}
                            {% if x.camp_focus_science %}<li>Věda a IT</li>{% endif %}
                            {% if x.camp_focus_other %}<li>Jiné</li>{% endif %}
                            </ul>
                        </td>
                        <td>{{ x.camp_price }}</td>
                        <td>{% if x.region_praha %}Praha {{ x.region_praha }}{% endif %}
                            {% if x.region_jihocesky %}Jihočeský{% endif %}
                            {% if x.region_jihomoravsky %}Jihomoravsky{% endif %}
                            {% if x.region_karlovarsky %}Karlovarský{% endif %}
                            {% if x.region_vysocina %}Vysočina{% endif %}
                            {% if x.region_kralovehradecky %}Kralovéhradecký{% endif %}
                            {% if x.region_moravskoslezky %}Moravskoslezký{% endif %}
                            {% if x.region_olomoucky %}Olomoucký{% endif %}
                            {% if x.region_plzensky %}Plzeňský{% endif %}
                            {% if x.region_stredocesky %}Středočeský{% endif %}
                            {% if x.region_ustecky %}Ústecký{% endif %}
                            {% if x.region_zlinsky %}Zlínský{% endif %}
                        </td>
                        <td>{{ x.organizer_name }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
            </table>
        </div>
        <center><a href="/tabory" >Zpět na stránku hledání táborů</a></center>
    </div>   
</section>
<br>


{% endblock %}

