{% extends "layout.html" %}

{% block body %}
<section class="features3 cid-rpUYdNoG90" id="features3-5">
<div class="jumbotron">
        <h1>
            Výsledky hledání dle zadaných kritérií
        </h1>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Název tábora</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Kategorie</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kraj</th>
                        <th scope="col">Organizator</th>
                    </tr>
                </thead>
                <tbody>

                    {% for tabor in tabory_z_db %}
                    <tr>
                        <td><a href="/tabory/{{ tabory.camp_id }}">{{ tabor.camp_name }}</td>
                        <td>{{ tabor.camp_date_start }} - {{ tabor.camp_date_finish }}</td>
                        <td>{{ tabor.camp_programm }}</td>
                        <td>{{ tabor.camp_focus_% }}</td>
                        <td>{{ tabor.camp_price }}</td>
                        <td>{{ tabor.camp_region% }}</td>
                        <td>{{ org.organizer_name }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
            </table>
        </div>
    </div>   
</section>

{% endblock %}